@import "./src/styles/_mixin";

.success {
  &__list {}
  &__item {
    @include font(0.8125rem);
    margin-bottom: 20px;
  }
  &__title {
    @include font(0.8125rem, true);
    padding-right: 15px;
    display: inline-block;
  }
  &__value {
    display: inline-flex;
  }
  &__youtube {
    width: 26px;
    height: 18px;
    margin-left: 20px;
    path {
      fill: var(--main-icon-color);
    }
  }
  &__infinity {
    path {
      fill: var(--main-icon-color);
    }
  }
}
