@import "./src/styles/_mixin";

.schedule {
  &__header {
    margin-bottom: 35px;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__btn {
    width: 100%;
    @include tablet {
      width: auto;
    }
  }
  &__add {
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__pagination {
    @include tablet {
      margin-bottom: 0;
    }
    text-align: center;
  }
  &__currentWeek {
    text-align: center;
  }
}
