@import "./src/styles/_mixin";

.timetable {
  td {
    @include tablet {
      padding: 8px;
    }
    @include desktop {
      padding: 15px;
    }
  }
  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 10px 5px;
    background: var(--main-button-text-color);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  &__head {
    @include font(0.875rem, true);
    width: 100%;
  }
  &__body {
    @include font(14px, false);
    width: 100%;
    @include tablet {
      @include font(12px, false);
    }
  }
  &__date {
    vertical-align: top;
    width: 160px;
    padding-left: 0 !important;
    @include tablet {
      width: 130px;
    }
  }
  &__online {
    position: relative;
    @include tablet {
      width: 45px;
    }
  }
  &__time {
    width: 65px;
    text-align: left;
  }
  &__lang {
    width: 120px;
  }
  &__comments {
    width: 328px;
    overflow: hidden;
    @include tablet {
      width: 170px;
      max-width: 170px;
    }
    @include mobile {
      width: 165px;
      max-width: 165px;
    }
  }
  &__period {
    width: 150px;
    text-align: right;
    @include tablet {
      width: 140px;
    }
    @include mobile {
      width: 100px;
    }
  }
  &__repeat {
    width: 175px;
    @include mobile {
      width: 105px;
      max-width: 105px;
    }
  }
  &__btn {
    width: 75px;
    text-align: right;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &__icon path{
    fill: var(--main-text-color);
  }
  &__btnIcon {
    cursor: pointer;
    path {
      fill: var(--second-text-color);
    }
    &:hover path{
      fill: var(--hover-btn-background);
    }
    &:active path{
      fill: var(--active-btn-background);
    }
    &--open path, &--open:hover path {
      fill: var(--active-btn-background);
    }
  }

  &__main {
    /*padding: 15px 10px;*/
  }
  &__section {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    @include tablet() {
      padding: 0 10px;
    }
    &:first-child {
      border-top-color: transparent;
    }
  }
  &__week {}
  &__weekday {
    text-transform: capitalize;
  }
  &__day {}

  &__list {

  }
  &__line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &:first-child {
      border-bottom-color: transparent;
      @include tablet {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
    &:last-child {
      border-bottom-color: transparent;
    }
    &--selected {
      background: var(--main-background);
    }
  }

  &__youtube {
    min-width: 20px;
  }

  &__actions {
    display: flex;
  }
  &__needUpdate, &__updated {
    position: relative;
  }
  &__needUpdate:after,
  &__updated:after {
    content: '';
    display: block;
    height: 16px;
    width: 3px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
    @include tablet() {
      height: 20px;
    }
  }
  &__needUpdate:after {
    background: #FFEA00;
  }
  &__updated:after {
    background: #21962D;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--second-text-color);
  &__item {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    position: relative;
    padding: 14px 0 0;
    //width: 10%;
    &--selected {
      border-color: var(--active-btn-background);
    }
  }
  &__weekDate {
    @include font(15px, true, 21px);
    text-transform: uppercase;
    text-align: center;
  }
  &__date {
    @include font(13px, false, 21px);
    text-transform: uppercase;
    text-align: center;
  }
  &__today {
    @include font(12px, false, 1);
    position: absolute;
    top: 0;
    left: 0;
  }
}
