@import "./src/styles/_mixin";

.limitTimer {
  display: flex;
  justify-content: center;
  &__attention {
    color: var(--hover-btn-background);
  }
  &__item {
    position: relative;
    padding-bottom: 20px;
    min-width: 70px;
    margin: 0 20px;
    @include mobile {
      margin: 0 10px;
      min-width: 35px;
      padding-bottom: 10px;
    }
    &:first-child {
      margin-left: 0;
      .limitTimer__header:before {
        display: none;
      }
    }
  }
  &__header {
    @include font(50px, true, 68px);
    text-align: center;
    @include mobile {
      @include font(30px, true, 30px);
    }
    &:before {
      content: ':';
      position: absolute;
      left: -26px;
      display: block;
      @include mobile {
        left: -14px;
      }
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include font(16px, false);
    color: var(--main-text-color);
    text-align: center;
    @include mobile {
      @include font(10px, false);
    }
  }
}
