@import "./src/styles/_mixin";

.parish {
  display: flex;
  &__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 45px 20px 20px;
  }
  &__img {
    max-width: 100%;
  }

  &__content {

  }
}

.parishPeriod {
  margin-bottom: 16px;
  &__txt {}
  &__value {
    margin: 0 10px;
    @include font(20px, true, 30px);
    &--attention {
      @include font(22px, true, 30px);
      color: var(--normal-btn-background);
    }
  }
}

.parishApprovePeriod {
  padding: 10px 0;
}