//$mobile-width: 812px;
$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1280px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin font($size: false, $bold: false, $lh: false) {
  @if $bold {
    font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  }@else {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  @if $size { font-size: $size; }
  @if $lh { line-height: $lh; }
}
