@import "_reset";
@import "_variable";
@import "_mixin";
@import "layout";

input[type="text"],
select,
textarea {
  width: 100%;
  @include font(0.8125rem);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px 9px;
}
input[type="text"],

textarea {
  min-height: 30px;
}
select {
  height: 30px;
}

a, path {
  transition: all .2s;
}




.btn {
  @include font(18px, true, 26px);
  color: var(--main-button-text-color);
  padding: 12px 20px;
  background: var(--normal-btn-background);
  box-shadow: 0 4px 6px rgba(183, 32, 37, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  opacity: 1;
  &:disabled {
    background: var(--disabled-btn-background);
  }
  &:hover {
    background: var(--hover-btn-background);
  }
  &:active {
    background: var(--active-btn-background);
  }

  &-empty {
    color: var(--normal-btn-background);
    background: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: transparent;
      color: var(--hover-btn-background);
    }
    &:disabled {
      background: transparent;
      color: var(--disabled-btn-background);
      cursor: default;
    }
    &:active {
      background: transparent;
      color: var(--active-btn-background);
    }
  }
  &-small {
    padding: 7px 20px;
    min-width: 215px;
  }
}



/* blocks */


.church {
  margin-bottom: 60px;
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    @include font(1.25rem, true, 1.68);
    cursor: pointer;
  }
  &__btn-txt {
    margin-right: 10px;
  }
  &__icon {
    transform: rotate(180deg);
    &--collapsed {
      transform: rotate(0);
    }
  }
  &__content {
    display: flex;
    /*height: 415px;
    transition: height .2s;
    overflow: hidden;*/
    &--collapsed {
      /*height: 0;*/
      display: none;
    }
  }
  &__photo {
    width: 426px;
    margin-right: 45px;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__main {

  }
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    display: table;
    margin-bottom: 10px;
  }
  &__dt {
    display: table-cell;
    width: 190px;
    margin-right: 20px;
    @include font(0.8125rem);
  }
  &__dd {display: table-cell;
    @include font(0.875rem, true);
  }
  &__info {
    @include font(0.8125rem);
    font-style: italic;
  }
}





.form {
  &__row {
    margin-bottom: 25px;
    &--column {
      display: flex;
      justify-content: space-between;
    }
    &--no-margin {
      margin-bottom: 0;
    }
    &--small-margin {
      margin-bottom: 20px;
    }
  }
  &__col {
    &--large {
      width: 70%;
    }
    &--small {
      width: 20%;
    }
  }
  &__label {
    @include font(0.875rem, true);
    margin-bottom: 5px;
    display: inline-block;
    &--invalid {
      color: var(--error);
    }
    &--no-margin {
      margin-bottom: 0;
    }
  }
  &__field {}
  &__hint {
    display: block;
    @include font(10px, false);
    &--right {
      text-align: right;
    }
    &--padding-left {
      padding-left: 25px;
    }
  }
}

/*.icon {
  width: 18px;
  height: 18px;
}*/
.checkbox {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &__input {
    position: absolute;
    left: -5000px;
    visibility: hidden;
    &:checked + .checkbox__text:before {
      display: block;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    @include font(14px, true);
    position: relative;
    padding-left: 25px;
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 1px;
      border: 1px solid #B3B3B3;
      position: absolute;
      left: 0;
      top: 1px;
    }
    &:before {
      content: '';
      display: none;
      width: 15px;
      height: 15px;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjAuNzA3MTA3IiB5MT0iMy42OTI5MiIgeDI9IjUuNTA3MTIiIHkyPSI4LjQ5MjkzIiBzdHJva2U9IiNCNzIwMjUiIHN0cm9rZS13aWR0aD0iMiIvPgo8bGluZSB4MT0iNC4wOTI3IiB5MT0iOC40OTI5NyIgeDI9IjExLjI5MjciIHkyPSIxLjI5Mjk1IiBzdHJva2U9IiNCNzIwMjUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 1px;
      top: 2px;
      z-index: 1;
    }
  }
  &__youtube {
    width: 26px;
    height: 18px;
    margin-left: 10px;
    path{
      fill: var(--main-icon-color);
    }
  }
}

.radio {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &__input {
    position: absolute;
    left: -5000px;
    visibility: hidden;
    &:checked + .radio__text:before {
      display: block;
    }
  }
  &__text {
    @include font(0.875rem);
    position: relative;
    padding-left: 25px;
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid var(--main-btn);
      background: var(--main-background);
      position: absolute;
      left: 0px;
      top: 4px;
    }
    &:before {
      content: '';
      display: none;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--main-btn);
      position: absolute;
      left: 3px;
      top: 7px;
      z-index: 1;
    }
  }
}

.days {
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    @include font(14px, true, 1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    min-width: 40px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: var(--second-color);
    transition: all .1s;
    &--active {
      color: var(--main-color);
      border: 1px solid rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
    }
  }
}



