@import "/src/styles/_variable";

.delete {
  &__title {
    @include font(0.875rem, true);
    margin-bottom: 10px;
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    @include font(0.875rem, true);
  }
  &__list {}
  &__item {
    margin-bottom: 10px;
  }
  &__period {
    display: flex;
    justify-content: space-between;
  }
  &__start, &__end {
    width: 45%;
  }
}
