@import "./src/styles/_mixin";

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    @include font(22px, true, 30px);
    color: var(--main-text-color);
  }
  &__action {
    display: flex;
    @include font(18px, true, 25px);
    color: var(--normal-btn-background);
    cursor: pointer;
    &:hover, &:hover path {
      color: var(--hover-btn-background);
      fill: var(--hover-btn-background);
    }
    &:active, &:active path {
      color: var(--active-btn-background);
      fill: var(--active-btn-background);
    }
  }
  &__icon {
    width: 26px;
    height: 24px;
    margin-right: 10px;
    path {
      fill: var(--normal-btn-background);
    }
  }
  &__txt {}
}