@import "/src/styles/_variable";

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.modal {
  width: 400px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 20px 30px;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -200px;
  &__header {
    margin-bottom: 20px;
    position: relative;
  }
  &__header-close {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: opacity .2s;
    &:hover {
      opacity: .9;
    }
  }
  &__title {
    @include font(1.25rem, true, 1.75);
  }

  &__body {
    padding: 0 20px 20px;
  }


  &__footer {
    display: flex;
    justify-content: flex-end;
    &--center {
      justify-content: center;
    }
  }

}
