@import "./src/styles/_mixin";

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  overflow: auto;
}
.modal {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 20px 30px;
  position: absolute;
  width: 100%;
  top: 160px;

  @include tablet {
    width: 400px;
    margin-left: -200px;
    left: 50%;
  }
  &__header {
    margin-bottom: 20px;
    position: relative;
  }
  &__header-close {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: opacity .2s;
    &:hover {
      opacity: .9;
    }
  }
  &__header-closeIcon path {
    fill: var(--normal-btn-background);
  }
  &__title {
    @include font(22px, true, 30px);
  }

  &__body {
    padding: 0 20px 20px;
  }


  &__footer {
    display: flex;
    justify-content: flex-end;
    &--center {
      justify-content: center;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -20px;
  }
  &__error-text {
    @include font(10px, false, 20px);
    color: var(--normal-btn-background)
  }
}
